/////////////////////////////////////////////////////////////////////////////////////////////
// Variables
/////////////////////////////////////////////////////////////////////////////////////////////

// Colors
$space-grey: #95989A;
$slate: #706D6A;
$sand: #EAE4DF;
$rough: #B3AFAA;
$black: #2D2C2A;