/////////////////////////////////////////////////////////////////////////////////////////////
// Fonts ////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: 'SanFranciscoDisplay-Light';
	src:	url('./../../fonts/SanFranciscoDisplay-Light.otf')format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SanFranciscoDisplay-Regular';
	src:	url('./../../fonts/SanFranciscoDisplay-Regular.otf')format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:  url('./../../fonts/icomoon.eot?pbkwms');
    src:  url('./../../fonts/icomoon.eot?pbkwms#iefix') format('embedded-opentype'),
      url('./../../fonts/icomoon.woff2?pbkwms') format('woff2'),
      url('./../../fonts/icomoon.ttf?pbkwms') format('truetype'),
      url('./../../fonts/icomoon.woff?pbkwms') format('woff'),
      url('./../../fonts/icomoon.svg?pbkwms#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-down:before {
    content: "\e900";
  }
  .icon-arrow-right:before {
    content: "\e901";
  }
  .icon-apple:before {
    content: "\e902";
  }
  .icon-one_logo:before {
    content: "\e903";
  }
  