/////////////////////////////////////////////////////////////////////////////////////////////
// Fonts ////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: 'SanFranciscoDisplay-Light';
	src:	url('./../../fonts/SanFranciscoDisplay-Light.otf')format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SanFranciscoDisplay-Regular';
	src:	url('./../../fonts/SanFranciscoDisplay-Regular.otf')format('opentype');
	font-weight: normal;
	font-style: normal;
}